extends layout

block content
  p= `${error.status} Error: ${message}`
  figure
    img(src=`/images/error.png` alt='A broken robot with error on its screen and large floating 404 numbers.')
    figcaption
      a(href='http://storyset.com/web' target='_blank' rel='noopener noreferrer') Illustration by Freepik Storyset
  p
    a.button(href='/books') Home
