extends layout

block content
  p= `${error.status} Error: ${message}`
  figure
    img(src=`/images/error.png` alt='A cartoon dog sits with a server power cord in its mouth, and a laptop connected to the server has a a face with x marks for eyes and a frown.')
    figcaption
      a(href='http://storyset.com/web' target='_blank' rel='noopener noreferrer') Illustration by Freepik Storyset
  p
    a.button(href='/books') Home
