* {
  box-sizing: border-box;
}

body {
  font: 1.3em 'Helvetica';
  background-image: linear-gradient(to right, rgba(240, 234, 234, 1), rgba(240, 234, 234, 0.3)),
    url(/images/books_background.jpeg);
  background-size: cover;
  min-height: fit-content;
}

main {
  margin: clamp(16px, 3vh, 100px);
  padding: 2vh 3vw;
  background-color: #f0eaea;
  border-radius: 2em;
  width: clamp(750px, 900px, 90%);
  box-shadow: 2px 4px 10px 4px rgb(8, 103, 58);
}

a {
  color: #019875;
  text-decoration: none;
  font-weight: bold;
  transition: 0.4s;
}

a:hover {
  color: black;
}

a.button,
input[type='submit'],
.searchbar button {
  color: white;
  background: #019875;
  font-family: 'Lucida Grande', Helvetica, Arial, sans-serif;
  padding: 10px 14px 12px;
  font-size: 14px;
  border-radius: 2px;
  cursor: pointer;
}

form a.button,
input[type='submit'] {
  margin-left: 140px;
  transition: 0.4s;
}

input[type='submit'] {
  border: 0;
}
.create {
  text-align: right;
}

a.button:hover,
a.active,
input[type='submit']:hover,
button:hover {
  background-color: #01b189;
}

p {
  margin: 20px auto;
}

ul {
  padding: 0;
  list-style-type: none;
  margin-bottom: 10px;
  line-height: 1.3em;
}

h2 {
  border-top: 2px solid #e7e7e7;
  padding-top: 20px;
}

th {
  border-bottom: 2px solid #d8b493;
  text-align: left;
  padding: 5px 20px 5px 10px;
}

tr {
  min-height: 50px;
}

tr.even {
  background: #e7e7e7;
}

td {
  padding: 5px 20px 5px 10px;
}

td:first-child::after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  min-height: 60px;
}

p label {
  font-weight: bold;
  min-width: 130px;
  display: inline-block;
  transition: 0.4s;
}

p input {
  padding: 10px;
  font-family: 'Lucida Grande', Helvetica, Arial, sans-serif;
  font-size: 14px;
  border-radius: 2px;
  border-color: #e7e7e7;
  transition: 0.4s;
}

p input[type='text'] {
  margin-left: 7px;
  width: 300px;
}

.error {
  color: rgb(236, 15, 15);
}

footer {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}

a.page {
  margin: 0 0.5em;
}

.searchbar {
  margin: auto;
  height: 3rem;
  text-align: right;
}

form.searchbar * {
  height: 100%;
  vertical-align: middle;
  border: none;
  font-size: 1em;
}

.searchbar input {
  border-right: none;
  width: 83%;
  padding-left: 2%;
}

.searchbar button {
  border-left: none;
  text-align: center;
  padding: revert;
  transition: 0.4s;
  width: 17%;
}

table {
  margin: auto;
}

figure,
figcaption {
  display: flex;
  align-items: center;
  flex-direction: column;
}

img,
figcaption {
  width: 100%;
  margin: auto;
}
